body{
    background-image: url('../images/asanoha-400px/asanoha-400px.png');

}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#hBackground{
    
    height: 68px;
    background-color: #ffffff;

    
}

#nav{ 
    width: 960px;
    height: 68px;
    margin: 0 auto;
    background-color: #ffffff;

}

h1{
    background-color: #4aaaa5;
    text-align: center;
    font-size: 28px;
    width: 150px;
    float: left;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;
}

#about, #portfolio, #contact{
    text-decoration: none;
    margin: 0 auto;
    margin-top: 0px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 0px 18px;
    margin: 25px 0px;
    font-size: 17px;
}

#about:hover, #portfolio:hover, #contact:hover{
    font-size: 17.5px;
    color: #4aaaa5;
}

hr{
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
}

#top{
    background-color: #cccccc;
    height: 2px;
    margin-bottom: 40px;
}
#about, #portfolio{
    border-right-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    
}

#mainInfo{
    margin: 0 auto;
    width: 900px;
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
    border-width: 1px;
    padding: 30px;
    padding-top: 15px;
    margin-top: 115px;
    margin-bottom: 150px;
    
    
    
}

#mainImage{
    width: 160px;
    height: auto; 
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

#middle{
    background-color: #dddddd;
    height:3px;
    margin-bottom: 25px;
}

h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    margin: 25px 0px;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 200%;
    color: #777777;
    
}


.clearFloat{
    clear:both;
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 10px #4aaaa5 solid;
    padding-top: 20px;
    z-index: 100;
}

#pFooter{
    color: #dddddd; 
    font-size: 11px; 
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
}

input, textarea {
    width: 880px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;
    padding: 8px;
    margin: 10px 0px;
    
}

::placeholder{
    color: #cccccc;
    
}

#submit{
    width: auto;
}

#message{
    height: 150px;
    border-color: #dddddd;
    
}

input, textarea{
    border: #dddddd 1px solid;
}

#submit{
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 26px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}

#submit:hover{
    background-color: #449995;
}

#hangmanImage, #rpgImage, #triviaImage, #rutgersImage, #scissorsImage{
    width: 300px;
}


#hangman{
    width: 300px;
    float: left;
    margin-left: 95px;
    position: relative;
    margin-bottom: 70px;
    
}


#rpg{
    width: 300px;
    float: right;
    margin-right: 115px;
    position: relative;
    margin-bottom: 70px;
}

#trivia{
    width: 300px;
    float: left;
    margin-left: 95px;
    position: relative;
    margin-bottom: 70px;
}
 #rutgers{
     width: 300px;
     float: right;
     margin-right: 115px;
     position: relative;
     margin-bottom: 70px;
 }

 #scissors{
    width: 300px;
    float: left;
    margin-left: 95px;
    position: relative;
    margin-bottom: 50px;
 }
 #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
    position: absolute;
    bottom: 11px;
    width: 300px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

@media screen and (max-width: 980px){


}

@media screen and (max-width: 768px){


}

@media screen and (max-width: 640px){
    #header{
        position: static;
        background-color: #ffffff; 
        width: 100%
    }

    #hBackground, #nav{
        width: 100%
    }
    #footer{
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    

    h1{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 4% 0;
        font-size: 30px;
    }

    #about, #portfolio, #contact{
        width: 29%;
        padding: 1% 2%;
        margin: 2% 0px;
        text-align: center;
    
        
    }

    #top{
        margin-bottom: none;
    }

    #mainInfo{
        width: 80%;
        padding: 5%;
        padding-top: 5%;
        margin-top: 5%;
        margin-bottom: 15%;
    
    }

    .aboutInfo{
        text-align: center;
    }

    h2{
        /* font-size: 7vw;  */
        text-align: center;
    }

    #mainImage{
        float: none;
        clear: both;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 5%;
        
    }

    .about-p{
        text-align: left;
    }
    
    #hangmanImage, #rpgImage, #triviaImage, #rutgersImage, #scissorsImage{
        width: 100%;
        float: none;
        clear: both;
       
    }

    #hangman, #rpg, #trivia, #rutgers, #scissors{
        width: 100%;
        float: none;
        clear: both;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 12%;
        text-align: center;
       
    }

    #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
        width: 100%;
        bottom: 6%;
          
    }

    #images{
        width: 100%;
        
    }

    input, textarea {
        width: 95%;
    }


    
}

